package {{ .PackageName }}

import (
    "testing"

    "github.com/hedhyw/gherkingen/pkg/v1/bdd"
)

{{ define "Background" }}
    {{ $Background := . }}
    f.{{ $Background.GoName }}({{ $Background.GoValue }}, func(t *testing.T, f *bdd.Feature) {
        {{- range $Background.Steps }}
        f.{{ .GoName }}({{.GoValue}}, func() {
            
        })
        {{- end }}
    })
{{ end }}

{{ define "Scenario" }}
    {{ $Scenario := . }}
    f.{{ $Scenario.GoName }}({{ $Scenario.GoValue }}, func(t *testing.T, f *bdd.Feature) {
        {{- range $Scenario.Examples }}

        {{- /* Define test case struct. */ -}}

        type testCase struct {
            {{- range .TableHeader.Cells }}
			{{ .GoName }} {{ .GoType }} `field:"{{.Value}}"`
            {{- end -}}
		}

        testCases := map[string]testCase{
            {{- range .TableBody }}
			{{ .GoValue }}: {
            {{- /* Struct fields start. */ -}}
                {{- range $index, $cell := .Cells -}}
                {{- if $index -}},{{ end }} {{- $cell.GoValue -}}
                {{- end -}}
            {{- /* Struct fields end. */ -}}
            },
            {{- end }}
		}

        f.TestCases(testCases, func(t *testing.T, f *bdd.Feature, tc testCase) {
            {{- range $Scenario.Steps }}
            f.{{ .GoName }}({{ .GoValue }}, func() {
                
            })
            {{- end }}
        })
        {{- else }}
        {{- range $Scenario.Steps }}
        f.{{ .GoName }}({{.GoValue}}, func() {
            
        })
        {{- end }}
        {{ end }}
    })
{{ end }}

{{ define "Rule" }}
    {{ $Rule := . }}
    f.{{ $Rule.GoName }}({{ $Rule.GoValue }}, func(t *testing.T, f *bdd.Feature) {
        {{- range $Rule.Children }}

        {{ if .Background }}
        {{ template "Background" .Background }}
        {{- end }}

        {{ if .Scenario }}
        {{ template "Scenario" .Scenario }}
        {{- end }}

        {{ end }}
    })
{{ end }}

func Test{{ .Feature.GoName }}(t *testing.T) {
    f := bdd.NewFeature(t, {{ .Feature.GoValue }})
    {{ if .Feature.Description }}
    /* {{ .Feature.Description }} */
    {{ end }}

    {{- range .Feature.Children }}

    {{ if .Background }}
    {{ template "Background" .Background }}
    {{- end }}

    {{ if .Scenario }}
    {{ template "Scenario" .Scenario }}
    {{- end }}

    {{ if .Rule }}
    {{ template "Rule" .Rule }}
    {{- end }}

    {{- end }}
}
